Language                                : Cpp
BasedOnStyle                            : LLVM     
UseTab                                  : Never      
IndentWidth                             : 4
TabWidth                                : 4
BreakBeforeBraces                       : Allman
AllowShortIfStatementsOnASingleLine     : true
IndentCaseLabels                        : true
ColumnLimit                             : 0
AccessModifierOffset                    : 0      
NamespaceIndentation                    : All
AlignConsecutiveAssignments             : true
AlignConsecutiveDeclarations            : true
AlignConsecutiveMacros                  : true
AlignTrailingComments                   : false
AccessModifierOffset                    : -1
FixNamespaceComments                    : true
SpaceBeforeAssignmentOperators          : true
SpaceBeforeCpp11BracedList              : true
SpaceBeforeCtorInitializerColon         : true  
SpaceBeforeInheritanceColon             : true
SpacesInParentheses                     : true